<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net461" />
  <package id="Effortless.Net.Encryption" version="2.0.1.37" targetFramework="net461" />
  <package id="LibLog" version="4.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="Serilog" version="2.3.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.1.0" targetFramework="net461" />
</packages>